@use 'base/variables' as v;
@use 'base/mixins' as m;


.galery {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, auto;
    
    &__title {
    display: flex;
    justify-content: space-between;
    }
}

.photos {
    display: grid;
    gap: 3rem;

    h3 {
        color: v.$white;
        width: 90%;
    }
}

    @include m.mobile {
    .photos { 
        height: 90rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);        

        &__photo {
            display: flex;
            align-items:flex-end;
            padding: 3rem;

            &:nth-child(1) {
                background-image: url(../../../build/img/desktop_image-deep-earth.jpg);
            }
            &:nth-child(2) {
                background-image: url(../../../build/img/desktop_image-night-arcade.jpg);
            }
            &:nth-child(3) {
                background-image: url(../../../build/img/desktop_image-soccer-team.jpg);
            }
            &:nth-child(4) {
                background-image: url(../../../build/img/desktop_image-grid.jpg);
            }
            &:nth-child(5) {
                background-image: url(../../../build/img/desktop_image-from-above.jpg);
            }
            &:nth-child(6) {
                background-image: url(../../../build/img/desktop_image-pocket-borealis.jpg);
            }
            &:nth-child(7) {
                background-image: url(../../../build/img/desktop_image-curiosity.jpg);
            }
            &:nth-child(8) {
                background-image: url(../../../build/img/desktop_image-fisheye.jpg);
            }
        }
    }
}

