@use 'base/variables' as v;
@use 'base/mixins' as m;

.interactive {
    background-image: url(../../../build/img/mobile-image-interactive.jpg);
    background-repeat: no-repeat;
    background-position: 0 10%;
    background-size: contain;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin: 6rem 0;
    
    
    @include m.mobile {
    background-image: url(../../../build/img/desktop_image-interactive.jpg);
    background-size: 65%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-position: left;
    height: 50rem;
    margin: 15rem 0;
    }

    &__text {
        background-color: v.$white;
        grid-row: 2 / 3;
        padding: 2rem;
        text-align: center;
        
        h2 {
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.4rem;
            line-height: 1.8;
            color: v.$dark_gray;
            margin: 0;
        }

        @include m.mobile {
            grid-column: 2 / 3;
            grid-row: 2 / 4;
            padding: 9.5rem 0 0 9.5rem; 
            text-align: left;
            
            h2{
                font-size: 5rem;
                margin-bottom: 3rem;
            }

            p {
                font-size: 1.5rem;
                padding-right: 10px;
            }
        }
    }
}