// Fonts
$primary_font: 'Alata', sans-serif;
$secondary_font: 'Josefin Sans', sans-serif;

// Media Queries size
$phone: 376px;
$desktop: 1440px;

// Colores
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$dark_gray: hsl(0, 0%, 55%);
$very_dark_gray: hsl(0, 0%, 41%);

$separation: 5rem;
