@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-image: url(../../build/img/mobile-image-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65rem;
    position: relative;

    @include m.mobile {
        background-image: url(../../build/img/desktop_image-hero.jpg);
    }

    &__container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 12rem;
        padding: 4rem 0;

        @include m.mobile {
            flex-direction: row;
            justify-content: space-between;
            padding: calc(v.$separation + 2rem) 0;
        }
    }



    &__menu {
        color: white;
        font-size: 3rem;
        cursor: pointer;

        @include m.mobile {
            display: none;
        }
    }

    &__text {
        color: v.$white;
        text-align: left;
        border: 0.2rem solid v.$white;
        padding: 2.5rem;
        margin-top: calc(v.$separation * 2);

        h1 {
            font-size: 3.8rem;
            font-weight: 400;
            margin: 0;
        }

        @include m.mobile {
            width: 50%;
            padding: 3rem;
            margin-top: 6rem;

            h1 {
                font-size: 6.5rem;
            }
        }
    }
}

.nav-desktop {
    display: none;
    
    @include m.mobile {
        display: flex;
    }
    
    &__link {
        margin: 0;
        padding: 1.5rem 2rem;
        color: v.$white;
        line-height: 2.5;
        transition: width .3s ease-in-out;
        position: relative;
        
        
        &::before {
            content: '';
            background: v.$white;
            display: block;
            position: absolute;
            left: 0;
            top: 5rem;
            margin: 0 auto;
            width: 0;
            transition: all 200ms ease-in-out;
        }

        &:hover::before{    
                content: '';
                position: absolute;
                display:block;
                width: 40%;
                left: 0;
                right: 0;
                margin: 0 auto;
                height: 2px;
                background-color: v.$white;
            }
        }
    }

//NAV MOBILE//  
.nav-mobile{
    width: 100%;
    height: 0;
    background-color: v.$black;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition-property: height;
    transition-duration: 300ms;
        
    &__head {
        display: flex;
        justify-content: space-between;
        padding: 5rem 0;
    }

    &__close {
        cursor: pointer;
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: calc(v.$separation * 3);
    }

    &__link {
        font-size: 3rem;
        color: v.$white;
        padding: 1.5rem 0;
        font-weight: 300;
    }

    @include m.mobile {
        display: none;
    }
}
